[Desktop Entry]
Type=Application
Name=PICO-8
Comment=Fantasy console for making, sharing and playing tiny games
Icon=pico8
Exec=pico8 %f
Terminal=false
MimeType=application/x-pico8-source;application/x-pico8-png;application/x-pico8-rom
Categories=Game
SingleMainWindow=true
